<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/resources/css/home.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    
    <title>Blockchain Overview</title>
</head>
<body>

    
    <section>
        <div class="wrapper">
         <h1 class="mega montserrat bold">
            Blockchain: <span class="color-emphasis-1">Unveiling the Future.</span><br>
            Where Trust Meets <span class="color-emphasis-1">Innovation.</span>
        </h1>
         </div>
    </section>

    

    <nav th:insert="~{navigation :: navigation}"></nav>
</body>
</html>