.dashboard {
    max-width: 1000px;
    width: 70%; /* Du kannst die Breite je nach Bedarf anpassen */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin: 5px 0;
}

.details span {
    font-weight: bold;
}

.crypto-info {
    border-top: 1px solid #ccc;
    
}