body{
	margin: 0 auto;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.mynavbar nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
  margin-bottom: 10em;
}
.mynavbar nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.mynavbar nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: left .5s ease 0s, background-color .5s ease 0s; /* Ändere die Transition-Eigenschaften */
  border-radius: 8px;
  left: 0; /* Setze die Startposition auf 0 */
  background-color: #1abc9c; /* Setze die Starthintergrundfarbe */
}
.mynavbar a:nth-child(1) {
	width: 100px;
}
.mynavbar a:nth-child(2) {
	width: 110px;
}
.mynavbar a:nth-child(3) {
	width: 100px;
}
.mynavbar a:nth-child(4) {
	width: 160px;
}
.mynavbar a:nth-child(5) {
	width: 120px;
}
.mynavbar nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
.mynavbar nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
.mynavbar nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
.mynavbar nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
.mynavbar nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

.mynavbar h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}