<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" th:href="@{/resources/css/blockdetails.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    <title>Blockchain Overview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>

</head>
<body>
    
    <nav th:insert="~{navigation :: navigation}"></nav>
        <div class = "allBlocks">
            <h1>Check out all Blocks ever created!</h1>
            <h3 th:text="${blockChainStatus != null ? (blockChainStatus ? 'Blockchain is confirmed.' : 'Blockchain is unconfirmed.') : 'Unknown'}">Blockchain is confirmed.</h3> 
        </div>
        
        <div class="container">
            <h1>Latest Blocks</h1>
            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a id="wins" class="filter__link filter__link--number">
                        <th>Height</th>
                    
                    </a></div>
                    <div class="header__item"><a id="draws" class="filter__link filter__link--number" >
                        <th>Timestamp</th>
                    </a></div>

                    <div class="header__item"><a id="draws" class="filter__link filter__link--number" >
                        <th>Transactions</th>
                    </a></div>

                </div>
                <div class="table-content">    
                    <th:block th:each="block : ${blocks}">
                        <a th:href="@{/block/{id}(id=${block.id})}">
                            <div class="table-row">
                                <div class="table-data" th:text="${block.height}"></div>
                                <div class="table-data" th:text="${block.timestamp}"></div>
                                <div class="table-data" th:text="${block.transactionSize}"></div>
                            </div>
                        </a>
                    </th:block>
                </div>
            </div>
            
        </div>

    <a th:href="@{/newBlock}">
    <button>Neuer Block</button>
    </a>
    
</body>
</html>