<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" th:href="@{/resources/css/blockdetails.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    <title>Blockchain Overview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>
</head>
<body>
    
    <nav th:insert="~{navigation :: navigation}"></nav>

    <div class = "allBlocks">
        <h1 th:text="'Block #'+${block.height}"></h1> 
        <h3 th:text="${block.ownHash}"></h3>
    </div>

    <div class="container">
        <h1>Transactions</h1> 
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="wins" class="filter__link filter__link--number">
                    <th>Sender</th>
                
                </a></div>
                <div class="header__item"><a id="draws" class="filter__link filter__link--number" >
                    <th>Receiver</th>
                </a></div>

                <div class="header__item"><a id="draws" class="filter__link filter__link--number" >
                    <th>Amount</th>
                </a></div>

            </div>
            <div class="table-content">    
                <th:block th:each="transaction : ${block.transactions}">
                        <div class="table-row">
                            <div class="table-data" th:text="${transaction.sender}"></div>
                            <div class="table-data" th:text="${transaction.receiver}"></div>
                            <div class="table-data" th:text="${transaction.amount}"></div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
        
    </div>

</body>
</html>