<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" th:href="@{/resources/css/mining.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function autoReload() {
            setInterval(function () {
                // Hier prüfen, ob das Mining läuft, bevor der automatische Reload ausgeführt wird
                if ([[${miningStatus}]] === true) {
                    location.reload();
                }
            }, 1000); // Hier die Zeit in Millisekunden angeben (hier: 5000ms oder 5 Sekunden)
        }

        // Automatischen Reload beim Laden der Seite starten, wenn das Mining läuft
        window.onload = autoReload;
        /*]]>*/
    </script>

</head>
<body>
    <nav th:insert="~{navigation :: navigation}"></nav>
    
    <div class="mining-container">
        <h1>Reward: 10 Rabbix Coins per found Block</h1>
        <p>Click the mine button to start mining!</p>
        <form th:action="@{/mining/doMining}">
            <button type="submit" th:text="${miningStatus != null ? (miningStatus ? 'STOP MINING' : 'START MINING') : 'Unknown'}"></button>
        </form>
        <p>Blocks Mined: <span th:text="${account.blocksMined}"></span></p>
        <p>Rabbix Coins through mining: <span th:text="${account.rabbixCoinsMined}"></span></p>
    </div>
    
    
</body>
</html>