<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" th:href="@{/resources/css/mining.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
</head>
<body>
    <nav th:insert="~{navigation :: navigation}"></nav>
    
    <div class="mining-container">
        <p>Click the mine button to start mining!</p>
        <form th:action="@{/mining/doMining}">
            <button type="submit" th:text="${miningStatus != null ? (miningStatus ? 'STOP MINING' : 'START MINING') : 'Unknown'}"></button>
        </form>
    </div>

    
</body>
</html>