<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/resources/css/account.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    
    <title>Blockchain Overview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>
</head>
<body>
    
    <nav th:insert="~{navigation :: navigation}"></nav>

    <div class="dashboard">
        <h2>Your Dashboard</h2>

        <div class="details">
            <p>Name: <span th:text="${account.username}"></span></p>
            <p>Email: <span th:text="${account.email}"></span></p>
            <p>Password: <span th:text="${account.password}"></span></p>
            <p>Public Key: <span th:text="${account.publicKey}"></span></p>
            <p>Private Key: <span th:text="${account.privateKey}"></span></p>
        </div>

        <div class="crypto-info">
            <!-- Hier könntest du weitere Crypto-Informationen hinzufügen -->
            <p>Rabbix Balance: <span th:text="${account.rabbixCoinsTotal}"></span></p>
            <p>Blocks Mined: <span th:text="${account.blocksMined}"></span></p>
            <p>Rabbix Coins through mining: <span th:text="${account.rabbixCoinsMined}"></span></p>

        </div>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>



    </div>

</body>
</html>