<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav th:fragment="navigation">
    

  <div class = "mynavbar">
    <h1>Blockchain Demo</h1>
    <nav>
      <a th:href="@{/home}">Home</a>
      <a th:href="@{/myAccount}">Account</a> 
      <a th:href="@{/home}">Blocks</a>
      <a th:href="@{/home}">Transactions</a>
      <a th:href="@{/home}">Mining</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
     
</body>
</html>