<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" th:href="@{/resources/css/transaction.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/navigation.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
</head>
<body>

    <nav th:insert="~{navigation :: navigation}"></nav>
    
    <div class="transaction-form">
        <h2>New Transaction</h2>
        <form action="/submitTransaction" method="post">
            <div class="form-group">
                <label for="sender">Sender:</label>
                <input type="text" id="sender" name="sender" required>
            </div>
            <div class="form-group">
                <label for="receiver">Receiver:</label>
                <input type="text" id="receiver" name="receiver" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <button class="submit-btn" type="submit">Submit Transaction</button>
        </form>
    </div>
    
</body>
</html>